node_modules
.DS_Store
dist
dist-ssr
.vite
.cache
coverage
*.local
.env
.env.*
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
